{% extends 'music/base.html' %}
{% block body %}

	<ul>
		{% for album in all_albums %}
		<li><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</li>
		<div>
            <!-- Delete Album -->
            <form action="{% url 'music:delete_album' album.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="album_id" value="{{ album.id }}" />
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>

            <!-- Update Album -->
            <form action="{% url 'music:album-update' album.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="album_id" value="{{ album.id }}" />
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-repeat"></span>
                </button>
            </form>

			</div>
		{% endfor %}
	</ul>

{% endblock %}